@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: rgb(207, 203, 213);
  font-family: "Alegreya", serif;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f-silkscreen {
  font-family: "Silkscreen", sans-serif;
}

.bg-blueviolet {
  background-color:  #9047ff !important;
}

.bg-blueviolet-dark {
  background-color: #5b17c4 !important;
}

.border-blueviolet {
  border-color: #9047ff !important;
}

.border-blueviolet-dark {
  border-color: #5b17c4 !important;
}

.border-white {
  border-color: whitesmoke !important;
}

.bg-darkslate {
  background-color:  #303338;
}

.f-s-10 {
  font-size: 10pt;
}

.f-s-8 {
  font-size: 8pt;
}

.txt-stroke {
  -webkit-text-stroke: 1.5px black;
}