.f-silkscreen {
    font-family: "Silkscreen";
}

.bg-blueviolet {
    background-color: #9047ff !important;
}

.site-name {
    font-weight: 700;
    
}

.f-zilla {
    font-family: "Zilla Slab";
}

