.session-card-link {
  text-decoration: none;
  color: inherit;
}

.session-card-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 0% 0%;
}

.session-card {
  height: 100%;
}

.session-card-title {
  color: white;
}
