.btn-blueviolet {
    font-family: 'Silkscreen' !important;
    font-weight: bold !important;
    font-size: 10pt !important;
    color: white !important;
    background-color:  #9047ff !important;
    border-color: #9047ff !important;
}

.btn-blueviolet:active {
    background-color: #5b17c4 !important;
    border-color: #5b17c4 !important;
}